name: Cypress Tests
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: yarn start-headless
          wait-on: http://localhost:8080
          wait-on-timeout: 120
          browser: chrome
          command: yarn cypress-headless
